
    .name {
        color: rgb(230, 57, 70);
        font-family: 'Asar';
        
        font-size: 10vw;
        display: inline-block;
        position: relative;
        }

    .nameContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        }

     .navbar{
        background-color: rgb(241, 250, 238);
        }
          
    .navList{
        width: 100vw;
        justify-content: space-evenly;
    }

    .nav-link{
        color: rgb(29, 53, 87);
        font-size: 25px;
        font-family: "Asar";
      }
    
    .profContainer {
        
        display: flex;
        flex-direction: row;
        justify-content: center;

      }

    .profPic {
        margin: 20px;
        max-width: 30%;
        height: auto;

      }
    .infoContainer {
        margin: 20px;

    }

    .info {
        color: rgb(29, 53, 87);
        font-family: "Asar";
        font-size: 20px;
        text-align:center;
    }


    .headingContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    .heading {
        color: rgb(230, 57, 70);
        font-family: "Asar";
        font-size: 35px;
        display: inline-block;
        position: relative;
        margin-top: 70px;
       
    }
    .aboutIcons {
        color: rgb(29, 53, 87);
        font-size: 100px;
        justify-content:center; 
        margin-top: 30px;
        margin-bottom: 30px;


        

    }
    .aboutTitles {

        justify-content:center; 
        color: rgb(69, 123, 157);
        font-size: 30px;
        margin-bottom: 0px;
        font-family: "Asar";

    }

    .aboutSpecifics {
        justify-content:center; 
        color: rgb(29, 53, 87);
        font-size: 20px;
        margin-bottom: 0px;
        font-family: "Asar";

        

    }

    .experienceContainer {
        justify-content: center;
        margin-bottom: 70px;



    }

    .experienceTitle {
        justify-content:center; 
        font-size: 30px;
        color: rgb(29, 53, 87);
        font-family: "Asar";
        margin-bottom: 10px;
        margin-top: 20px;


    }
    .experienceSpecific {
        justify-content:left; 
        font-size: 20px;
        color: rgb(29, 53, 87);
        font-family: "Asar";
        margin-bottom: 5px;
        margin-left: 40px;
        margin-right: 0px;
        flex-wrap: wrap;
        display: flex;

    }

    .experiencePicContainer {
        flex-direction: row;
        justify-content: center;
        text-align:center;
        


      }
    .dartcalPic {
        margin: 20px;
        max-width: 80%;
        height: auto;
        
      }

      .lullPic {
        margin: 20px;
        max-width: 100%;
        height: auto;

      }

      .infoText {
        color: rgb(29, 53, 87);
        font-family: "Asar";
        font-size: 20px;
        text-align:center;
        margin-bottom: 0px;
    }
    .iconsContainer {
        display: flex;
        justify-content: space-evenly;
        margin-top:50px;

        margin-bottom:80px;
        margin-left: 20px;
        margin-right: 20px;
      }
    .contactIcons {
        color: rgb(29, 53, 87);
        font-size: 100px;
    }